@font-face {
    font-family: dungeonsFont;
    src: url(DUNGRG__.TTF);
}

h1 {
	font-family: dungeonsFont;
	font-size: 70px;
}

.navbar-default .navbar-brand {
	font-family: dungeonsFont;
	font-size:30px;
	color: #baa975;
}

.navbar.navbar-default {
	background-color:   #642205;
	color: #baa975;
	border-color:  #642205
;
}

.navbar.navbar-default li a {
	color: #baa975;
}



#goal_stats .figures_div {
	border: solid 3px black;
	border-radius: 5px;
	padding: 10px;
}

.flashed_messages {
	border: solid 1px black;
	border-radius: 5px;
	padding:10px;
	display: inline-flex;
}

form {
	margin: 20px;
	font-size: 30px
}

#calc_xp {
	font-size: 30px;
}

body {
	background-color: #baa975;
	background-image: url("/static/light-paper-fibers.png");
	font-family: 'Jim Nightshade', cursive;
	font-size: 30px;
}

#stats {
	background-image: url("/static/scroll.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 20px;
}

#stats-text {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top:40px;
}

div.alert {
	display: inline;
}

.player-overview {
	border: solid 3px black;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	width: 33%;
}

.leaderboard-element {
	display: block;
	width: 90%;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}



div.leaderboard-element-name {
	display: inline-flex;
	width:80%;

}

div.leaderboard-element-xp {
	display:inline-flex;
	width:20%;
}

div.new-team-div {
	border: solid 3px black;
	border-radius: 4px;
}

div.new-team-div h1{
	font-size: 50px;
}