@font-face {
    font-family: dungeonsFont;
    src: url(DUNGRG__.TTF);
}



h1 {
	font-family: dungeonsFont;
	font-size: 70px;
}

.navbar-default .navbar-brand {
	font-family: dungeonsFont;
	font-size:40px;
	color: #baa975;
}

.navbar-default .navbar-brand:hover, .navbar-brand:visited {
	color: #EDEEC0;
}

.navbar.navbar-default {
	background-color:   #642205;
	color: #baa975;
	border-color:  #642205
	height: 70px;
;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #EDEEC0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #642205;
    background-color: #baa975;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: black;

}

table#user_list, #user_list th, #user_list td {
    border: 3px solid black;
}

#user_list td {
    padding:10px;
}

.dropdown-menu>li>a {
	font-size: 20px
	}

.dropdown-menu>li>a:hover {
	background-color: #642205 ;
	}

.friend-request-button {
	display: inline;
}

.navbar.navbar-default li a {
	color: #baa975;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #baa975 ;
}

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #EDEEC0;
}
}

.leaderboard-element:hover {
	color: #642205 ;
	background-color:#EDEEC0;

}

.submit-button:visited {
	color: #642205 ;
	background-color:#EDEEC0;

}

.submit-button:active {
	color: #642205 ;
	background-color:#EDEEC0;

}

.submit-button:focus {
	color: #EDEEC0;
	background-color: #642205 ;
	

}

.btn-primary:hover {
    color: #EDEEC0;
    background-color: #642205;
    border-color: #642205;
}

a {
	color :#642205;
}

.btn-default:hover {
    color: #EDEEC0;
    background-color: #642205;
    border-color: #642205;
}

.submit-button:hover, {
	color: #EDEEC0;
	background-color: #642205;
}

h3 {
	font-size:35px;
}

.regular-text {
	font-size: 30px;
}

.navbar.navbar-default li a:hover{
	color: #EDEEC0;
}


.navbar.navbar-default li a:focus{
	color: #EDEEC0;
}

.navbar.navbar-default li a:active{
	color: #EDEEC0;
}


.navbar.navbar-default li a:visited{
	color:  #baa975;
}

#goal_stats .figures_div {
	border: solid 3px black;
	border-radius: 5px;
	padding: 10px;
}

.flashed_messages {
	border: solid 1px black;
	border-radius: 5px;
	padding:10px;
	display: inline-flex;
}

form {
	margin: 20px;
	font-size: 30px
}

#calc_xp {
	font-size: 30px;
}

body {
	background-color: #baa975;
	background-image: url("/static/light-paper-fibers.png");
	font-family: 'Jim Nightshade', cursive;
	font-size: 30px;
}

#stats {
	background-image: url("/static/scroll.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 20px;
}

#stats-text {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top:40px;
}

div.alert {
	display: inline;
}

.player-overview {
	border: solid 3px black;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	width: 33%;
}

.leaderboard-element {
	display: block;
	width: 90%;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color:   #642205;
	color: #baa975;
}

input {
	border: solid 2px black;
	border-radius: 3px;
}

.submit-button {
	border: solid 2px black;
	border-radius: 3px;
	background-color:   #642205;
	color: #baa975;
	padding: 3px;
	font-size: 30px;
}



div.leaderboard-element-name {
	display: inline-flex;
	width:80%;

}

div.leaderboard-element-xp {
	display:inline-flex;
	width:20%;
}

div.new-team-div {
	border: solid 3px black;
	border-radius: 4px;
}

div.new-team-div h1{
	font-size: 50px;
}

#d20-navbar {
	display: inline;
	width: 30px;
	height: 30px;
	margin-top:-9px;
	
}

a:hover {
	color: #EDEEC0;
}

.friend-list{
	line-height: 1.8;
}

select {
	background-color: #baa975;
	border-radius: 3px ;
}