{%extends 'base.html'%}

{% block title %} Natural 20 Enter sleep {%endblock%}

{%block content%}
<form id="sleep_time" action="/enter_sleep" method="POST">
<table>
<tr>
<td>
 Bedtime   </td><td> <input name="bedtime" type="time"> </td> </tr>
 <tr>
 <td>
 Wake up time  <span style="display:inline-block; width: 10px;"></span> </td><td><input name="waketime" type="time">
 </td></tr>
 <tr>
 <td>
 <input class="submit-button" type="submit" value="Record sleep">
 </td>
 </tr>

</table>
</form>
{%endblock%}