{%extends 'base.html'%}


{%block title%}
Natural 20: Friends
{%endblock%}

{%block content%}
<div class="container">
<div class="col-xs-12 col-md-6">
<h1> Friends </h1>
<ul>
{%for friend, friendship in friends%}
<li class="friend-list"> <a class="submit-button" href="/user/{{friend.username}}"> {{friend.username}} </a>
</li>

{%endfor%}
</ul>
</div>
<div class="col-xs-12 col-md-6">
<h1> Friend Requests </h1>
<div id="friend_requests">

</div>
</div>
</div>
<script type="text/javascript" src="/static/friend_requests.js"></script>

{%endblock%}