{%extends 'base.html'%}

{%block title%} Natural 20 Login {%endblock%}

{%block content%}
<div class="container">
{% for message in get_flashed_messages()%}
{%if message == "Thanks for registering!"%}
<div class="alert alert-success" role="alert">
{%else%}
<div class="alert alert-danger" role="alert">
{%endif%}
{{message}}
</div>
{%endfor%}
<form action="/login" method="POST" id="login-form">
Username <input type="text" name="username"> <br>
<br>
Password <input type="password" name="password"> <br>
<input type="submit" value="Login">
</form>

</div>


{%endblock%}