{%extends "base.html" %}

{%block title%}Natural 20: The Quest is over!{%endblock%}
{%block content%}

<div id="main" class="container">
	
<p id = "intro-text"> So, brave adventurer, it looks like your time to complete your quest is up! Were you victorious or will you have to face the consequences of your defeat </p>
<br>
<button id="make-stuff-happen">Did you succeed</button>
<br>
<p id = "outcome-text"></p>
<div id="go-back">
</div>
</div>


<script src="static/outcomes.js"></script>



{%endblock%}
