{%extends 'base.html'%}

{%block title%} Natural 20 Registration {%endblock%}

{%block content%}
<div class="container">
{% for message in get_flashed_messages()%}
<div class="alert alert-danger" role="alert">
{{message}}
</div>
{%endfor%}
<form action="/registration" method="POST">
<table>
<tr>
<td>
Username</td><td> <input type="text" name="username"> <br> </td></tr>
<tr>
<td>Email </td><td><input type="text" name="email"> <br></td></tr>
<tr>
<td>
Password </td><td><input type="password" name="password"> <br></td></tr>
<tr>
<td>
Confirm password </td><td><input type="password" name="confirm_password"> <br></td></tr>
<tr>
<td>
</td>
<td>

<input class="submit-button" type="submit" value="Begin your campaign"></td></tr>
</table>
</form>

</div>


{%endblock%}