{%extends "base.html"%}
{%block title%} Natural 20: Character Sheet {%endblock%}
{%block content%}
<div class=container>
Welcome {{username}}
<br>
{%for date, value, goal in goalstatus %}
Your current quest is to complete {{goal.value}} {{goal.goal_type}} by {{goal.valid_to}} <br>
You are currently at {{value}} {{goal.goal_type}} as of {{date}}
<br>
<br>
{%endfor%}

<br>

<div>
Current Stats: <br>
Level: {{level}} <br>
XP: {{xp}} <br>
HP: {{hp}} <br>
</div>
<a href="/set_goal"> Set Goals </a>
</div>
{%endblock%}