{%extends "base.html"%}
{%block title%} Natural 20: Character Sheet {%endblock%}
{%block content%}
<div class=container>
{%if isfriend%}
<h1 id="welcome"> {{username}}'s profile </h1>
{%else%}
<h1 id="welcome"> Welcome, {{username}}! </h1>
{%endif%}
<div class = "col-md-4 col-xs-12">
<div id="stats">
<div id="stats-text">
<b>Current Stats</b> <br>
Level: {{level}} <br>
XP: {{xp}} <br>
HP: {{hp}} <br>
</div>
</div>
<br>
<div id="friend_requests">
</div>
<br>
</div>
<div id="goal_stats" class = "col-md-8 col-xs-12">
{%if goalstatus%}
{%for date, value, ratio, goal in goalstatus %}
<div class="figures_div">
{%if isfriend%}
{{username}}'s
{%else%}
Your 
{%endif%}
current quest is to complete {%if goal.goal_type == "Sleep"%}{{goal.value/(60.0*60.0)}} hours of{%else%}{{goal.value}}{%endif%} {{goal.goal_type}}
{%if goal.frequency == "Daily"%}
per day until
{%else%}
 by 
 {%endif%}
 {{goal.valid_to.strftime("%I:%M%p %B %d, %Y")}} <br>

{%if isfriend%}
{{username}} is
{%else%}
You are 
{%endif%}
currently
{%if goal.frequency == "Daily"%}
averaging
{%else%}
at 
 {%endif%}
{{value}} {{goal.goal_type}} as of {{date}}
 <div class="progress" id={{goal.goal_id}}>
  <div class="progress-bar" role="progressbar" aria-valuenow={{value}}
  aria-valuemin="0" aria-valuemax={{goal.value}} style="width:{{ratio}}%">
    <span class="sr-only"> {{ratio}}% complete </span>
  </div>
</div> 
<div id="graph-div{{goal.goal_id}}" style="width:600px;height:250px;">
</div>
</div>
<br>
{%endfor%}
{%else%}
<div class="no-goals">
{%if isfriend%}
{{username}} doesn't currently have any goals
{%else%}
You don't currently have any quests.<br>
<a href="/set_goal"> Set a new Goal </a>
{%endif%}
</div>
{%endif%}
</div>
<br>


<!-- <div id="graph-div" style="width:600px;height:250px;">
</div> -->
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/homepage_plots.js"></script>
{%if not isfriend%}
<script type="text/javascript" src="/static/friend_requests.js"></script>
{%endif%}
{%endblock%}